<div class="postsite-content-wrapper flex-1">
    <div class="post-profile card-2 flex-dir-row justify-con-start gap-10">
        <img class="post-profile-img" src="https://2wcvjr2o0jc97l6eq1lut4y1-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/no-profile-img.jpg" alt="">
        <div class="post-details">
            <div class="post-profile-alias">
                <span class="text-rossa font-w700">Author: </span>
                <span class="font-w500">{{image.author}}</span>
                
            </div>
            <span class="font-w500">{{image.timestamp}}</span>
        </div>
    </div>
    <div class="br-10 mt-10 p-15 card-2 flex-dir-col gap-10">
        <div class="post-content font-w500">
            <p class="font-w700">{{image.title}}</p>
            <p class="mt-10">{{image.description}}</p> 
        </div>       
    </div>
    <img src="/public/upload/{{image.filename}}" onclick="epxandImg('{{image.filename}}')" alt="" style="width: 100%;" class="br-10">
</div>