
<div class="content-medium content-row1">
    <h2 class="tl-1">{{image.title}}</h2>
    <div class="br-10 p-25 mt-10 card-2 flex-dir-col">
        <h4><span class="text-rossa">Author:</span> {{image.author}}</h4>
        <div class="br-10">
            {{image.description}}
        </div>
        <img src="/public/upload/{{image.filename}}" onclick="epxandImg('{{image.filename}}')" alt="" style="width: 100%;" class="br-10">
    </div>
</div>