<marquee class="whts-new content-fullrow-1" direction="left" behavior="side">
    <div class="whts-new-list">
        <div class="whts-new-item"><span>BREAKING NEWS: </span>Mono con arma</div>
        <div class="whts-new-item"><span>BREAKING NEWS: </span>Tio mata a tio</div>
        <div class="whts-new-item"><span>BREAKING NEWS: </span>Gente madura cerca tuya</div>
        <div class="whts-new-item"><span>BREAKING NEWS: </span>Atraco en un paki</div>
    </div>
</marquee>

{{!-- Recent Posts // New people --}}

<div class="recent-people-list bg2-color content-column-2-right w-30">
    <header>
        <h3>Meet new people!</h3>
    </header>
</div>

<div class="post-form card bg2-color content-column-2 w-100">
    <form action="/images" method="POST" enctype="multipart/form-data">
        <div class="input-group-1">
            <div class="input-group"> 
                <input class="input-1 bg2-color" name="author" class="form-control" autocapitalize="off" autocorrect="off" placeholder="Author" required>
            </div>
            <div class="input-group"> 
                <input class="input-1 bg2-color" name="title" class="form-control" autocapitalize="off" autocorrect="off" placeholder="Title here" required>
            </div>
            <div class="input-group"> 
                <textarea class="tarea-1 bg2-color" name="description" class="form-control" placeholder="Description here" onkeypress="auto_grow(this)" rows="2"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group"> 
                <input type="file" name="image" class="form-control" id="inputGroup" aria-describedby="inputGroupFileAddon" required>
            </div>
            <button>
                new post
            </button>
        </div>
    </form>
</div>


{{!-- Recent Posts --}}


<div class="content-column-3 w-100">
    <h2 class="tl-1">Recent posts</h2>
    <div class="row-list">
        {{#each images}}
            <div class="bg2-color br-10 p-25 mt-20">
                <header>
                    <h3 class="m-20">{{title}} by {{author}}</h2>
                </header>
                <a href="/images/{{uniqueId}}">
                    <img src="/public/upload/{{filename}}" alt="" style="width: 100%;" class="br-10">
                </a>
                <div class="mt-20 p-15 br-10 bg3-color">
                    {{description}}
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>
    function auto_grow(element){
        element.style.height = "50px"
        element.style.height = `${element.scrollHeight}px`
    }
</script>

