{{!-- Main home page content --}}

<div class="container container--pad-20 container--col container--gap-20">
    
    {{!-- Create new post form --}}
    
    <h2 class="title-h2">Create new post</h2>
    <div class="container container--col container--style-2">
        <form class="form container container--col container--gap-20" action="/posts" method="POST" enctype="multipart/form-data">
            <main class="form__main container container--col container--gap-20">
                <input class="form__input" name="author" class="form-control" autocapitalize="off" autocorrect="off" placeholder="Author" autocomplete="off" required>
                <input class="form__input" name="title" class="form-control" autocapitalize="off" autocorrect="off" placeholder="Title here" autocomplete="off" required>
                <textarea class="form__text-area form__text-area--border-rosa" name="description" class="form-control" placeholder="Description here" onkeypress="autoGrow(this)"  autocomplete="off" rows="2"></textarea>
            </main>
            <footer class="form__footer">
                <div class="form__input-wrapper button-2"> 
                    <input class="hidden" id="addMedia" type="file" name="media" class="form-control" id="inputGroup" multiple="multiple" aria-describedby="inputGroupFileAddon" required>
                    <label for="addMedia"><i class="form__label fas fa-photo-video"></i></label>
                </div>
                <button class="form__button button" id="postButton">
                    new post
                </button>
            </footer>
        </form>
    </div>

    {{!-- Show the recent post created --}}

    <h2 class="title-h2">Recent posts</h2>
    <div class="container container--col">
        {{#each posts}}
            <div class="post-wrapper post--border-rossa post--pad-10 post--hover" data-id="{{uniqueId}}">
                <header class="post__header">
                    <img class="post__profile-avatar" src="https://2wcvjr2o0jc97l6eq1lut4y1-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/no-profile-img.jpg" alt="">
                    <div class="post__header-details">
                        <div class="post__alias">
                            <span class="text-rossa font-w700">Author: </span>
                            <span class="font-w500">{{author}}</span>
                        </div>
                        <span class="font-w500">{{timeago}}</span>
                    </div>
                </header>
                <main class="post__main-wrapper">
                    <div class="post__text">
                        <p class="font-w700">{{title}}</p>
                        <p class="mt-10">{{description}}</p> 
                    </div>   
                    <div class="post__media-wrapper" data-lentgh="{{media.length}}">
                        {{#each media}}
                            {{#iftype type}}
                                <div class="post__media-thumbnail-container" data-ajax="{{../postId}}" data-type="{{type}}" value="{{filename}}">
                                    <img src="/public/upload/media/images/{{filename}}" alt="" class="post__media-image">
                                </div>
                            {{else}}
                                <div class="post__media-thumbnail-container" data-ajax="{{../postId}}" data-type="{{type}}" value="{{filename}}">
                                    <video class="post__media-video" controls>
                                        <source src="/public/upload/media/videos/{{filename}}" type="video/mp4">
                                    </video>
                                </div>
                            {{/iftype}}
                        {{/each}}
                    </div>    
                </main>
                <footer class="post__footer">
                    <span class="button-2"><i class="far fa-comments"></i></span>
                    <span class="button-2 liekPost" data-ajax="{{postId}}"><i class="far fa-heart"></i>{{likes}}</span>
                    <span class="button-2"><i class="fas fa-share-alt"></i></span>
                </footer>
            </div>
        {{/each}}
    </div>
    {{> modalmedia}}
</div>

